<!DOCTYPE html>
<html>
<head>
  <title>Share</title>
  <link rel="stylesheet" href="/share.css">
  <script src="/share.js"></script>
</head>
<body>
  <!--div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
      <a href="https://github.com/claudyus/share">Fork me on GitHub</a>
    </div>
  </div-->
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><strong>{{brand}}</strong> Share</a>
      </div>
    </div>
  </div>
  {{{body}}}
</body>
</html>
