<!DOCTYPE html>
<html>
<head>
  <title>Share</title>
  <link rel="stylesheet" href="/share/dropzone/css/dropzone.css">
  <link rel="stylesheet" href="/share/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/share/share.css">
  <script src="/share/dropzone/dropzone.min.js"></script>
  <script src="/share/jquery/jquery-2.0.3.min.js"></script>
</head>
<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/share"><strong>PlatDev</strong> Share</a>
      </div>
    </div>
  </div>
  {{{body}}}
</body>
</html>