<!DOCTYPE html>
<html>
<head>
  <title>Share</title>
  <link rel="stylesheet" href="/share.css">
  <script src="/share.js"></script>
</head>
<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><strong>{{brand}}</strong> Share</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/briangreenery/share">View on GitHub</a></li>
      </ul>
    </div>
  </div>
  {{{body}}}
</body>
</html>
