<div class="container text-center">
  <form class="form-horizontal" action="/u/" >
    <button type="submit" class="btn btn-success btn-lg">Create new random namespace...</button>
    <div class="form-group">
      <div class="col-lg-3">
        <input type="text" class="form-control" name="namespace" placeholder=".. or enter a name to create/reopen an existing one">
      </div>
    </div>
  <form>
</div>
