<div class="container">
  <div class="row">
    <form action="/upload" class="dropzone" id="dropzoneForm"></form>
  </div>
  <div class"row">
    <textarea id="result" rows="1" readonly></textarea>
  </div>
</div>
<script>{{{homejs}}}</script>
