<div class="container">
  <div class="row">
    <form action="/u/{{random}}" class="dropzone" id="dropzoneForm"></form>
  </div>
  <div class"row" id="files_dl">
  </div>
  <div class="row text-right">
    <button type="button" class="btn btn-warning" id="del_active"><i class="glyphicon glyphicon-trash"></i></button>
    <a href="/delete/{{random}}">
      <button disabled="disabled" type="button" class="btn btn-danger" id="del">Delete namespace</button>
    </a>
  </div>
</div>

<script>
{{!-- signature compliant with dropzone.onSuccess() --}}
function add_file_entry(file, resp) {
  $("#files_dl").loadTemplate($("#template"),
    { file: location.protocol + '//' + location.host + '/' + resp }, { append: true});
}

{{!-- on ready render the files list for those userspace  --}}
$().ready(function(){
  var files = {{{files}}};
  if (files) {
    for (a in files) {
      add_file_entry(null, "{{random}}/" + files[a]);
    }
  }
});

function onInit() {
  this.on('success', add_file_entry);
}

Dropzone.options.dropzoneForm = {
  maxFilesize: 100 * 1024,
  init: onInit
};

$("#del_active").on('click', function (){
  $("#del").prop('disabled', false);
});
</script>

<script type="text/html" id="template">
  <div>
    <i class="glyphicon glyphicon-download"> <a data-href="file" data-content="file" target="_blank"></a></i>
  </div>
</script>
