<div class="container">
  <div class="row">
    <form action="/upload" class="dropzone" id="dropzoneForm"></form>
  </div>
  <div class"row">
    <textarea id="result" rows="1" readonly></textarea>
  </div>
</div>
<script>
  var rows = 0;
  
  Dropzone.options.dropzoneForm = {
    maxFilesize: 100 * 1024,
    init: onInit
  };

  function onInit() {
    this.on('success', onSuccess);
  }

  function onSuccess(file, response) {
    var url = location.protocol + '//' + location.host + '/' + response;
    var result = $('#result');

    if (rows == 0)
      result.val(url);
    else
      result.val(result.val() + '\n' + url);

    rows += 1;
    result.attr('rows', rows);
    result.show();
    result.select();
  }
</script>
