<!DOCTYPE html>
<html>
<head>
  <title>Share</title>
  <script src="/share/dropzone/dropzone.min.js"></script>
  <script src="/share/jquery/jquery-2.0.3.min.js"></script>
  <link rel="stylesheet" href="/share/dropzone/css/dropzone.css">
  <link rel="stylesheet" href="/share/bootstrap/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <form action="/upload" class="dropzone" id="dropzoneForm" style="margin-top: 50px;"></form>
    <ul class="list-unstyled" id="successList"></ul>
  </div>
  <script>
    Dropzone.options.dropzoneForm = {
      maxFilesize: 100 * 1024,
      init: function() {
        this.on('success', function (file, response) {
          var url = location.protocol + '//' + location.host + '/share/' + response;
          $('#successList').append('<li><h3>' + url + '</h3></li>');
        });
      }
    };
  </script>
</body>
</html>