<div class="container">
  <div id="slides">

  </div>
</div>

<script>
function add_slide_entry(file, num) {
  $('#slides').loadTemplate($("#template"),
    { file: location.protocol + '//' + location.host + '/' + file }, { append: true});
}

{{!-- on ready render the files list for those userspace  --}}
$().ready(function(){
  var files = {{{files}}};
  if (files) {
    i = 0;
    for (a in files) {
      add_slide_entry("{{random}}/" + files[a], i);
      i++;
    }
  }
  $('#slides').loadTemplate($("#template-btn"), { append: true});
  $("#slides").slidesjs({
    width: 940,
    height: 528
  });
});

</script>

<script type="text/html" id="template">
  <img data-src="file" alt="not provided">
</script>

<script type="text/html" id="template-btn">
  <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
  <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a></script>
</script>
